<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>키워드설정</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">콘텐츠관리</a></li>
          <li class="breadcrumb-item"><a href="#!">키워드설정</a></li>
        </ul>
      </div>
      <div class="page-body">
        <div class="row">
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-block table-border-style  table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th width="1%">NO</th>
                    <th width="7%">CP사</th>
                    <th width="5%">등록콘텐츠</th>
                    <th width="5%">검색키워드</th>
                    <th width="5%">제외키워드</th>
                    <th width="5%">수정</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i < kcList.length; i++) { %>
                  <tr>
                    <input type="hidden" id="cpid" value="<%= kcList[i].U_id %>"/>
                    <th><%= kcList.length - i %></th>
                    <td><%= kcList[i].U_name %></td>
                    <td><%= kcList[i].CCount %></td>
                    <td><%= kcList[i].TCount %></td>
                    <td><%= kcList[i].DCount %></td>
                    <td class="text-center">
    								  <div class="btn-group btn-group-md text-center" style="padding-right: 0; display: inline-block;">
                        <button type="button" class="btn-delete btn btn-danger waves-effect waves-light alert-confirm1" style="margin-right: 5px;">
        								  <span class="far fa-trash-alt"></span>
        								</button>
      							    <button type="button" class="btn-edit btn btn-primary waves-effect waves-light">
        								  <span class="far fa-edit"></span>
        								</button>
    								  </div>
    								</td>
                  </tr>
                  <% }; %>
                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.table td, .table th{
  text-align:  center;
  vertical-align: middle;
}
.table td{
  font-size: 15px;
}
</style>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
<script>
  // 수정 버튼 클릭시
  $(document).on('click','.btn-edit',function(){
    var trEle = $(this).closest("tr");
    location.href = '/keyword/info?page=1&cp='+trEle.find('input').val();
  });

  // 삭제 버튼 클릭시
  $(document).on("click",'.btn-delete',function(){
    swal({
      title: "삭제 하시겠습니까?",
      text: "해당 CP사의 키워드가 모두 삭제됩니다.",
      icon: "warning",
      buttons: ["취소", true],
      dangerMode: true,
    })
    .then((value) =>{
      console.log($(this).parents("tr").find("input").val());
      if(value != null){
        var cpId = $(this).parents("tr").find("input").val();
        $.ajax({
          url: '../keyword/delete',
          type: 'post',
          data: {
            'cpId': cpId,
            'type': 'cpId'
          },
          error:function(request,status,error){
            alert("다시시도해주세요.");
            console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
          },
          success:function(data){
            alert("삭제되었습니다.");
            location.href = '/keyword';
          }
        });
      }
    });
  });
</script>
