<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>매출등록</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">매출통계</a></li>
          <li class="breadcrumb-item"><a href="/sales/add">매출등록</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="card" style="padding: 30px;">
            <div class="card-block">
              <input type="hidden" id="user_class" value="<%=userCLASS%>">
              <input type="hidden" id="user_id" value="<%=userID%>">
              <% if(userCLASS == 'a'){ %>
              <div class="form-group row">
                <label class="col-xs-3 col-form-label">관리사(MCP)</label>
                <div class="col-xs-5">
                  <select name="select" class="form-control" id="selectMCP">
                    <option value="">선택</option>
                    <% for(var i=0; i < mcpList.length; i++) {%>
                      <option value="<%=mcpList[i].cp_id%>"><%=mcpList[i].cp_cname%></option>
                    <% }; %>
                  </select>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <% } %>
              <div class="form-group row">
                <label class="col-xs-3 col-form-label">저작권사(CP)</label>
                <div class="col-xs-5">
                  <select name="select" class="form-control" id="selectCP">
                    <option value="">선택</option>
                    <% if(userCLASS == 'm'){
                        for(var i=0; i < cpList.length; i++) {%>
                          <option value="<%=cpList[i].cp_id%>"><%=cpList[i].cp_cname%></option>
                    <% }
                      } %>
                  </select>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 col-form-label">OSP</label>
                <div class="col-xs-5">
                  <select name="select" class="form-control" id="selectOSP">
                    <option value="">선택</option>
                    <% for(var i=0; i < ospList.length; i++) {%>
                      <option value="<%=ospList[i].osp_id%>"><%=ospList[i].osp_sname%></option>
                    <% }; %>
                  </select>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <!-- <div class="form-group row">
                <label class="col-xs-3 col-form-label">콘텐츠코드</label>
                <div class="col-xs-5">
                  <input class="form-control" id="s_cnt_num" type="text">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
                <div class="col-xs-1">
                  <button id="searchCnt" type="button" class="btn btn-default">
                    검색
                  </button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 col-form-label">제목</label>
                <div class="col-xs-5">
                  <input id="s_title" type="text" class="form-control" readonly>
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div> -->
              <div class="form-group row">
                <label class="col-xs-3 col-form-label">총매출금액</label>
                <div class="col-xs-5">
                  <input id="s_total_money" type="number" class="form-control" placeholder="0">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 col-form-label">총판매건</label>
                <div class="col-xs-5">
                  <input id="s_total_sales" type="number" class="form-control" placeholder="0">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 col-form-label">MG</label>
                <div class="col-xs-5">
                  <input id="s_mg" type="number" class="form-control" placeholder="0">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 col-form-label">요율</label>
                <div class="col-xs-5">
                  <input id="s_rate" type="number" class="form-control" placeholder="0">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 col-form-label">정산매출</label>
                <div class="col-xs-5">
                  <input id="s_settlement_money" type="number" class="form-control" placeholder="0">
                  <span class='messages'><p class='text-danger error'></p></span>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-xs-3 col-form-label">정산일</label>
                <div class="col-xs-5">
                  <div class="row">
                    <div class="col-xs-5">
                      <select name="select" class="form-control" id="selectYear">
                        <%
                        var today = new Date();
                        var mm = today.getMonth()+1;
                        var yyyy = today.getFullYear();
                        for(var i=(yyyy+30); i > (yyyy-30); i--){
                        %>
                        <option value="<%=i%>" <%=((i==yyyy)?'selected':'')%>><%=i%></option>
                        <%}%>
                      </select>
                    </div>
                    <div class="col-xs-5">
                      <select name="select" class="form-control" id="selectMonth">
                        <%for(var i=1; i < 13; i++){%>
                        <option value="<%=((i < 10)?('0'+i):i)%>" <%=((i==mm)?'selected':'')%>><%=i%></option>
                        <%}%>
                      </select>
                    </div>
                    <span class='messages'><p class='text-danger error'></p></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <button id="insertBtn" type="submit" class="f-right btn btn-inverse m-b-0">등록</button>
                  <!-- <button id="excelBtn" type="submit" class="f-right m-r-10 btn btn-primary m-b-0"><i class="fas fa-file-excel"></i>엑셀대량등록</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal start-->
      <div class="modal fade" id="excel-Modal"  aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xlg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">엑셀대량등록</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="ti-close"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <div class="col-lg-12">
                <div class="inline-order-list m-t-0">
                  <h4 class="sub-title">example<p class="text-danger f-right">※ 엑셀 1행 및 내용 생략불가,MCP/CP/OSP는 등록된 id로 기재</p></h4>
                </div>
                <div class="table-responsive m-t-10">
                  <table class="table example">
                    <thead>
                      <tr class="text-uppercase border-bottom-inverse">
                        <th class="text-center">#</th>
                        <th class="text-center">A</th>
                        <th class="text-center">B</th>
                        <!-- <th class="text-center">C</th>
                        <th class="text-center">D</th> -->
                        <th class="text-center">C</th>
                        <th class="text-center">D</th>
                        <th class="text-center">E</th>
                        <th class="text-center">F</th>
                        <th class="text-center">G</th>
                        <th class="text-center">H</th>
                      </tr>
                    </thead>
                    <tbody class="text-center">
                      <tr class="table-danger border-bottom-inverse">
                        <th scope="row">1</th>
                        <td>MCP/CP</td>
                        <td>OSP</td>
                        <!-- <td>콘텐츠코드</td>
                        <td>콘텐츠제목</td> -->
                        <td>총판매건</td>
                        <td>MG</td>
                        <td>요율</td>
                        <td>총매출금액</td>
                        <td>정산매출</td>
                        <td>정산날짜</td>
                      </tr>
                      <tr class="border-bottom-inverse">
                        <th>2</th>
                        <td>kbs<br>(또는 kbs/kbscp)</td>
                        <td>fileham</td>
                        <!-- <td>kbs-0001-01</td>
                        <td>1박2일</td> -->
                        <td>1234<br>(숫자만)</td>
                        <td>1234<br>(숫자만)</td>
                        <td>1234<br>(숫자만)</td>
                        <td>1500<br>(숫자만)</td>
                        <td>2000<br>(숫자만)</td>
                        <td>2019-01<br>(텍스트로 변경)</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-lg-12 m-t-30">
                <h4 class="sub-title m-b-10">upload<p class="text-danger f-right">※ 파일 1개만 업로드 가능</p></h4>
                  <div class="form-group row">
                    <div class="col-xs-12">
                      <form action="/excelAdd" method="post" class="form demo_form">
                        <div class="upload"></div>
                        <div class="filelists m-t-10">
                          <span>업로드파일 리스트</span>
                          <ul class="filelist complete m-t-5 m-b-5">
                          </ul>
                          <span class="cancel text-danger">파일삭제</span>
                        </div>
                      </form>
                      <div class="target"></div>
                      <!-- <form action="http://61.82.113.197:8090/sales/add/upload" id="uploadFrm" method="post" enctype="multipart/form-data">
                        <input type="file" id="excel" name="excel" accept=".xls,.xlsx" class="form-control">
                      </form> -->
                    </div>
                    <div class="col-xs-2">
                    </div>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">취소</button>
              <button id="insertBtn_m" class="btn btn-inverse">등록</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
      <!-- Modal start -->
      <!-- <div class="modal fade show" aria-hidden="true" tabindex="-1" id="search-Modal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header p-b-0">
              <h5 class="modal-title">콘텐츠검색</h5>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-block table-border-style">
                  <div class="table-responsive">
                    <table class="table table-columned table-striped">
                      <thead>
                        <tr>
                          <th>
                            <input type="text" class="form-control" id="search" placeholder="콘텐츠명 또는 콘텐츠코드">
                          </th>
                          <th width="1px">
                            <button type="button" id="btn-search" class="btn btn-inverse">검색</button>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary mobtn" data-dismiss="modal" aria-label="Close" type="button">취소</button>
            </div>
          </div>
        </div>
      </div> -->
      <!-- Modal end -->
    </div>
  </div>
</div>
<!-- Bootstrap daterangepicker js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.js"></script>
<!-- formstone -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/formstone/1.4.10/css/upload.css" />
<link rel="stylesheet" href="https://formstone.it/demo/css/site.css?v=1.4.10">
<script src="https://cdn.jsdelivr.net/npm/formstone@1.4.10/dist/js/core.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/formstone/1.4.10/js/upload.js"></script>
<!-- xlsx -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.1/xlsx.full.min.js"></script>
<!-- custom -->
<link rel="stylesheet" href="/pages/sales/style.css" />
<script type="text/javascript" src="/pages/sales/add.js"></script>
