<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>전체보기</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">모니터링현황</a></li>
          <li class="breadcrumb-item"><a href="#!">전체보기</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-xs-12" id="monitoring_list">
          <div class="card" style="border-top: 1px solid black;">
            <div class="card-header">
              <div class="col-xs-12" style="height: 43px;padding: 0;">
                <button class="btn btn-default btn-image m-r-5">
                  <i class="far fa-file-image"></i>이미지
                </button>
                <button class="btn btn-default btn-excel">
                  <i class="far fa-file-excel"></i>엑셀
                </button>
                <div id="reportrange" class="col-xs-2 form-control form-control-inverse f-right" style="min-width: 233px;border-radius: 0px;">
                  <i class="glyphicon glyphicon-calendar far fa-calendar-alt f-left" style="padding-top: 2px;"></i>
                  <span style="display: inline;font-size: 12px;padding-left: 5px;"></span>
                  <i class="f-right fa fa-angle-down" style="font-size: 17px;"></i>
                </div>
              </div>
              <div class="col-xs-12" style="padding: 0;">
                <input type="hidden" id="user_class" value="<%=userCLASS%>">
                <input type="hidden" id="user_id" value="<%=userID%>">
                <% if(userCLASS == 'a'){ %>
                <select name="select" class="col-xs-1 form-control form-control-inverse m-r-5 p-r-5 f-left" id="selectMCP" style="min-width: 95px;">
                  <option value=''>MCP사선택</option>
                  <% for(var i=0; i < mcpList.length; i++) {%>
                    <option value="<%=mcpList[i].cp_id%>"><%=mcpList[i].cp_cname%></option>
                  <% }; %>
                </select>
                <% } %>
                <% if(userCLASS != 'c'){ %>
                <select name="select" class="col-xs-1 form-control form-control-inverse m-r-5 p-r-5 f-left" id="selectCP" style="min-width: 85px;">
                  <option value=''>CP사선택</option>
                  <% for(var i=0; i < cpList.length; i++) {%>
                      <option value="<%=cpList[i].cp_id%>"><%=cpList[i].cp_cname%></option>
                  <% } %>
                </select>
                <% } %>
                <select name="select" class="col-xs-1 form-control form-control-inverse m-r-5 p-r-5 f-left" id="selectOState" style="min-width: 106px;">
                  <option value='2'>제휴상태선택</option>
                  <option value='1'>제휴사</option>
                  <option value='0'>비제휴사</option>
                </select>
                <select name="select" class="col-xs-1 form-control form-control-inverse m-r-5 p-r-5 f-left" id="selectOSP" style="min-width: 94px;">
                  <option value=''>OSP사선택</option>
                  <% for(var i=0; i < ospList.length; i++) {%>
                    <option value="<%=ospList[i].osp_id%>"><%=ospList[i].osp_sname%></option>
                  <% } %>
                </select>
                <select name="select" class="col-xs-1 form-control form-control-inverse m-r-5 p-r-5 f-left" id="selectState" style="min-width: 77px;">
                  <option value="">상태선택</option>
                  <option value="1">제휴</option>
                  <option value="0">비제휴</option>
                </select>
                <select name="select" class="col-xs-1 form-control form-control-inverse m-r-5 p-r-5 f-left" id="selectType" style="min-width: 84px;max-width: 84px;">
                  <option value="">PC</option>
                  <option value="m">모바일</option>
                </select>
                <select name="select" class="col-xs-1 form-control form-control-inverse p-r-5 f-left" id="selectMChk" style="min-width: 94px;">
                  <option value="">검토상태선택</option>
                  <option value="1">검토</option>
                  <option value="0">미검토</option>
                </select>
                <div class="col-xs-3 f-right p-l-0 p-r-0 right-icon-control">
                  <input type="text" class="form-control p-t-10 form-control-inverse search-text" id="searchInput">
                  <div class="form-icon" id="searchBtn">
                    <i class="fas fa-search"></i>
                  </div>
                </div>
                <select id="selectSearchType" name="select" class="col-xs-1 form-control form-control-inverse m-r-5 f-right search-select">
                  <option value="t">제목</option>
                  <option value="c">콘텐츠ID</option>
                  <option value="n">게시물번호</option>
                  <option value="k">키워드</option>
                </select>
              </div>
            </div>
            <div class="card-block table-border-style  table-responsive">
              <div class="preloader3 loader-block">
                <div class="circ1 loader-primary"></div>
                <div class="circ2 loader-primary"></div>
                <div class="circ3 loader-primary"></div>
                <div class="circ4 loader-primary"></div>
              </div>
              <table class="table" id="listTable_a">
                <thead>
                  <tr>
                    <th width="1%">NO</th>
                    <th width="5%">검토</th>
                    <th width="5%">OSP</th>
                    <th width="5%">콘텐츠 제목</th>
                    <th width="15%">제목</th>
                    <th width="5%">판매금액</th>
                    <th width="5%">판매자</th>
                    <th width="5%">검출상태</th>
                    <th width="5%">검출일</th>
                    <th width="5%">메일</th>
                  </tr>
                </thead>
                <tbody>
                 <%
                 function errorMSG(param){
                   var returnValue = ['실패',''];
                   if(param == '100'){
                     returnValue[1] = 'POST validation 실패';
                   }
                   else if(param == '101'){
                     returnValue[1] = '회원정보가 일치하지 않음';
                   }
                   else if(param == '102'){
                     returnValue[1] = 'subject, message 정보가 없습니다.';
                   }
                   else if(param == '103'){
                     returnValue[1] = 'sender 이메일이 유효하지 않습니다.';
                   }
                   else if(param == '104'){
                     returnValue[1] = 'recipient 이메일이 유효하지 않습니다.';
                   }
                   else if(param == '105'){
                     returnValue[1] = '본문에 포함하면 안되는 확장자가 있습니다.';
                   }
                   else if(param == '106'){
                     returnValue[1] = 'body validation 실패';
                   }
                   else if(param == '107'){
                     returnValue[1] = '받는 사람이 없습니다.';
                   }
                   else if(param == '108'){
                     returnValue[1] = ' 예약정보가 유효하지 않습니다.';
                   }
                   else if(param == '109'){
                     returnValue[1] = 'return_url이 유효하지 않습니다.';
                   }
                   else if(param == '110'){
                     returnValue[1] = '첨부파일이 없습니다.';
                   }
                   else if(param == '111'){
                     returnValue[1] = '첨부파일의 개수가 5개를 초과합니다.';
                   }
                   else if(param == '112'){
                     returnValue[1] = '첨부파일의 Size가 10MB를 초과합니다.';
                   }
                   else if(param == '113'){
                     returnValue[1] = '첨부파일이 다운로드 되지 않았습니다.';
                   }
                   else if(param == '200'){
                     returnValue[1] = '동일 예약시간으로는 200건 이상 발송할 수 없습니다.';
                   }
                   else if(param == '201'){
                     returnValue[1] = '분당 300건 이상 발송할 수 없습니다.';
                   }
                   else if(param == '205'){
                     returnValue[1] = '잔액부족';
                   }
                   else if(param == '999'){
                     returnValue[1] = 'Internal Error.';
                   }
                   else if(param == '-1'){
                     returnValue[0] = '오류'
                   }
                   else if(param == '0'){
                     returnValue[0] = '정상발송'
                   }
                   else{
                     returnValue[0] = '발송안됨'
                   }
                   return returnValue;
                 }
                 for(var i=0; i < list.length; i++) { %>
                    <tr>
                      <th><%= listCount - i - offset %></th>
                      <td>
                        <select name="select" data-idx="<%= list[i].n_idx %>" class="col-xs-1 form-control table-select">
                          <option value="1" <%=((list[i].cnt_f_mchk=='1')?'selected':'')%>>검토</option>
                          <option value="0" <%=((list[i].cnt_f_mchk=='0'||list[i].cnt_f_mchk==''||list[i].cnt_f_mchk==null)?'selected':'')%>>미검토</option>
                        </select>
                      </td>
                      <td><%=list[i].osp_sname%></td>
                      <td><div class="reduction"><%= list[i].ctitle %></div></td>
                      <td class="info-td">
                        <div class="info-open" data-cidx="<%= list[i].cidx %>" data-idx="<%= list[i].n_idx %>" >
                          <% if(list[i]['cnt_img_1'] != '' && list[i]['cnt_img_1'] != null && list[i]['cnt_chk_1'] == '0' && list[i]['cnt_img_1'] !='/untitled.jpg'){ %>
                          <i class="fas fa-image text-muted"></i>
                          <%}%>
                          <%= list[i].cnt_title %>
                        </div>
                      <td><%= list[i].cnt_price %></td>
                      <td><%= list[i].cnt_writer %></td>
                      <td>
                        <div class="dateArr chkArr">
                          <%for(var j=1; j < 4; j++){%>
                              <%= j+' 차 : '+((list[i]['cnt_chk_'+j] == '0')?'비제휴':(list[i]['cnt_chk_'+j] == '1')?'제휴':(list[i]['cnt_chk_'+j] == '2')?'삭제':'확인안됨') %>
                                <% if (j < 3){ %>
                                <br />
                              <%
                                }
                            }
                          %>
                        </div>
                      </td>
                      <td>
                        <div class="dateArr">
                          <%
                            for(var j=1; j < 4; j++){
                              if(list[i]['cnt_img_'+j] != '' && list[i]['cnt_img_'+j] != null && list[i]['cnt_img_'+j] != undefined){
                                if(list[i]['cnt_img_'+j] !='/untitled.jpg' && list[i]['cnt_chk_'+j] !='2'){
                                  %>
                                  <%= j+' 차 : '+list[i]['cnt_date_'+j] %>
                                  <%
                                } else {
                                  %>
                                  <%
                                  break;
                                }
                          %>
                                <% if (j < 3){ %>
                                <br />
                              <%
                                }
                              }
                              else if(j == 1){
                                %>
                                <%= j+' 차 : '+list[i]['cnt_date_'+j] %>
                                </br>
                                <%
                              }
                            }
                          %>
                        </div>
                      </td>
                      <td>
                        <div class="dateArr mailArr">
                          <%
                          if(list[i]['cnt_chk_1'] == '0'){
                            for(var j=1; j < 4; j++){
                              var mailMSG = errorMSG(list[i]['cnt_mail_'+j]);
                              var tooltipStr = ((mailMSG[0] == '실패')? 'data-toggle="tooltip" data-placement="top" title="'+mailMSG[1]+'"' : '');
                              if(list[i]['cnt_img_'+j] != '' && list[i]['cnt_img_'+j] != null && list[i]['cnt_img_'+j] != undefined){
                                if(list[i]['cnt_img_'+j] !='/untitled.jpg' && list[i]['cnt_chk_'+j] !='2'){
                                %>
                                <span <%=tooltipStr%>><%= j+' 차 : '+mailMSG[0] %></span>
                          <%  } else {
                                break;
                              }
                              if (j < 3){ %>
                                <br />
                              <%
                                }
                              }
                              else if(j == 1){
                                %>
                                <span <%=tooltipStr%>><%= j+' 차 : '+mailMSG[0] %></span>
                                </br>
                                <%
                              }
                            }
                          }
                          %>
                        </div>
                      </td>
                    </tr>
                  <% } %>
                </tbody>
                <tfoot>
                  <tr class="footable-paging">
                    <td colspan="10">
                      <ul class="pagination">
                      <%
                        var limit = 20;
                        var pageCount = Math.ceil(listCount/limit);
                        if(pageCount > 1) {
                          var pageSize = 5;
                          var pRCnt = parseInt(page / pageSize);
                          if(page % pageSize == 0){
                            pRCnt = parseInt(page / pageSize) - 1;
                          }
                          if(page > 5) {
                        %>
                        <li class="page-item">
                          <a class="page-link" data-value="1" aria-label="Previous">
                            <i class="ti-angle-double-left f-12"></i>
                            <span aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" data-value=="<%=(pRCnt * pageSize)%>" aria-label="Previous">
                            <i class="ti-angle-left f-12"></i>
                            <span aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                      <% } %>
                      <% for(var index=pRCnt * pageSize + 1;index<(pRCnt + 1)*pageSize + 1;index++){%>
                        <li class= "<%=(page == index) ? 'active' : ''%> page-item">
                          <a class="page-link" data-value="<%=index%>" >
                            <%= index %>
                          </a>
                        </li>
                      <%
                          if(index == pageCount) {
                            break;
                          }
                        }
                      %>
                      <% if((pRCnt + 1) * pageSize < pageCount) { %>
                        <li class="page-item">
                          <a class="page-link" data-value="<%=(pRCnt + 1)*pageSize+1%>" aria-label="Next">
                            <i class="ti-angle-right f-12"></i>
                            <span aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" data-value="<%=pageCount%>" aria-label="Next">
                            <i class="ti-angle-double-right f-12"></i>
                            <span aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                      <% } }%>
                      </ul>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal start-->
  <div class='modal fade' id='detail-Modal' aria-hidden="true" tabindex="-1" role="dialog">
    <div class='modal-dialog modal-xlg' role='document'>
      <div class='modal-content'>
        <div class='modal-header'>
          <h5 class="modal-title">
            <span>상세보기</span>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="ti-close"></i></span>
          </button>
        </div>
        <div class='modal-body'>
          <div class="col-xs-12">
            <div class="row related-artical" id="img-list">
              <div class="col-img-item">
                <div class="articles context-menu-one" data-num="1" data-idx="">
                  <a title="untitled.jpg" data-lightbox="image-1" rel="group1" href="http://61.82.113.197:3000/monitoring_img/untitled.jpg">
                    <img class="img-fluid c-pointer lightbox-img" src="http://61.82.113.197:3000/monitoring_img/untitled.jpg">
                  </a>
                </div>
              </div>
              <div class="col-img-item">
                <div class="articles context-menu-one" data-num="2" data-idx="">
                  <a title="untitled.jpg" data-lightbox="image-1" rel="group1" href="http://61.82.113.197:3000/monitoring_img/untitled.jpg">
                    <img class="img-fluid c-pointer lightbox-img" src="http://61.82.113.197:3000/monitoring_img/untitled.jpg">
                  </a>
                </div>
              </div>
              <div class="col-img-item">
                <div class="articles context-menu-one" data-num="3" data-idx="">
                  <a title="untitled.jpg" data-lightbox="image-1" rel="group1" href="http://61.82.113.197:3000/monitoring_img/untitled.jpg">
                    <img class="img-fluid c-pointer lightbox-img" src="http://61.82.113.197:3000/monitoring_img/untitled.jpg">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12">
            <div class="card">
              <div class="card-block table-border-style">
                <div class="table-responsive">
                  <table class="table" id="modal-cnt">
                    <colgroup>
                      <col width="30%">
                      <col width="70%">
                    </colgroup>
                    <tbody>
                      <tr>
                        <th>게시물번호</th>
                        <td><p id="cnt_num"></p></td>
                      </tr>
                      <tr>
                        <th>OSP</th>
                        <td><p id="osp_sname">도파일</p></td>
                      </tr>
                      <tr>
                        <th>콘텐츠제목</th>
                        <td><p id="cnt_title"></p></td>
                      </tr>
                      <tr>
                        <th>제목</th>
                        <td><p id="title"><a href="" target="_blank"></a></p></td>
                      </tr>
                      <tr>
                        <th>판매금액</th>
                        <td><p id="cnt_price"></p></td>
                      </tr>
                      <tr>
                        <th>작성자</th>
                        <td><p id="cnt_writer"></p></td>
                      </tr>
                      <tr>
                        <th>용량</th>
                        <td><p id="cnt_vol"></p></td>
                      </tr>
                      <tr>
                        <th>카테고리</th>
                        <td><p id="cnt_cate"></p></td>
                      </tr>
                      <tr>
                        <th>파일명</th>
                        <td><p id="cnt_fname"></p></td>
                      </tr>
                      <tr>
                        <th>mcp</th>
                        <td><p id="cnt_mcp"></p></td>
                      </tr>
                      <tr>
                        <th>cp</th>
                        <td><p id="cnt_cp"></p></td>
                      </tr>
                      <tr>
                        <th>키워드</th>
                        <td><p id="k_title"></p></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal end-->
</div>
<!-- contextmenu -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.js"></script>
<!-- lightbox -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js" charset="utf-8"></script>
<!-- custom -->
<link rel="stylesheet" href="/pages/monitoring-all/style.css">
<script type="text/javascript" src="/pages/monitoring-all/script.js"></script>
