<!-- left menu start -->
<nav class="pcoded-navbar" pcoded-header-position="relative">
  <div class="pcoded-inner-navbar main-menu">
    <div class="">
      <div class="main-menu-header">
        <div class="user-details">
          <span id="more-details">
            <% if(userLogo == '' || userLogo == null){%>
              <%=userNAME%>
            <%} else {%>
              <img class="img-cLogo" src="\<%=userLogo%>"/>
            <%}%>
          </span>
        </div>
      </div>
    </div>
    <ul class="pcoded-item pcoded-left-item">
      <li class="dashBoard">
        <a href="/">
          <span class="pcoded-micon"><i class="ti-home"></i></span>
          <span class="pcoded-mtext" data-i18n="nav.dash.main">대시보드</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <%if (userSite != 'autogreen'){%>
      <li class="period" style="display:none">
        <a href="/period">
          <span class="pcoded-micon"><i class="ti-bar-chart-alt"></i></span>
          <span class="pcoded-mtext">통계</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <%}%>
      <li class="pcoded-hasmenu contents cnts kwd">
        <a href="javascript:void(0)" data-i18n="nav.advance-components.main">
          <span class="pcoded-micon"><i class="ti-video-clapper"></i></span>
          <span class="pcoded-mtext">콘텐츠관리</span>
          <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
          <li>
            <%
              var keywordURL = 'keyword';
              var contentsURL = 'contents';
              if (userSite == 'autogreen'){
                contentsURL = 'cnts';
                keywordURL = 'kwd';
              }
            %>
            <a href="/<%=contentsURL%>/add" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">콘텐츠등록</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li>
            <a href="/<%=contentsURL%>" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">콘텐츠리스트</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <%if ((userSite != 'autogreen' && userCLASS == 'a') || userSite == 'autogreen'){%>
          <li>
            <a href="/<%=keywordURL%>" data-i18n="nav.advance-components.grid-stack">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">키워드설정</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <%}%>
        </ul>
      </li>
      <%if (userSite == 'autogreen'){%>
        <li class="pcoded-hasmenu monitoring statistics">
          <a href="javascript:void(0)" data-i18n="nav.advance-components.main">
            <span class="pcoded-micon"><i class="ti-desktop"></i></span>
            <span class="pcoded-mtext">모니터링현황</span>
            <span class="pcoded-mcaret"></span>
          </a>
          <ul class="pcoded-submenu">
            <li>
              <a href="/monitoring/nalliance" data-i18n="nav.advance-components.draggable">
                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                <span class="pcoded-mtext">비제휴사현황</span>
                <span class="pcoded-mcaret"></span>
              </a>
            </li>
            <li>
              <a href="/monitoring/alliance" data-i18n="nav.advance-components.draggable">
                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                <span class="pcoded-mtext">제휴사현황</span>
                <span class="pcoded-mcaret"></span>
              </a>
            </li>
            <li>
              <a href="/statistics" data-i18n="nav.advance-components.grid-stack">
                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                <span class="pcoded-mtext">통계현황</span>
                <span class="pcoded-mcaret"></span>
              </a>
            </li>
          </ul>
        </li>
        <li class="mail">
          <a href="/">
            <span class="pcoded-micon"><i class="ti-email"></i></span>
            <span class="pcoded-mtext" data-i18n="nav.dash.main">메일발송관리</span>
            <span class="pcoded-mcaret"></span>
          </a>
        </li>
        <li class="pcoded-hasmenu setting notice">
          <a href="javascript:void(0)" data-i18n="nav.advance-components.main">
            <span class="pcoded-micon"><i class="ti-settings"></i></span>
            <span class="pcoded-mtext">관리사설정</span>
            <span class="pcoded-mcaret"></span>
          </a>
          <ul class="pcoded-submenu">
            <li>
              <a href="/setting/osp" data-i18n="nav.advance-components.draggable">
                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                <span class="pcoded-mtext">OSP사현황</span>
                <span class="pcoded-mcaret"></span>
              </a>
            </li>
            <li>
              <a href="/setting/cp" data-i18n="nav.advance-components.draggable">
                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                <span class="pcoded-mtext">CP사현황</span>
                <span class="pcoded-mcaret"></span>
              </a>
            </li>
            <li>
              <a href="/setting/mail" data-i18n="nav.advance-components.grid-stack">
                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                <span class="pcoded-mtext">메일링설정</span>
                <span class="pcoded-mcaret"></span>
              </a>
            </li>
            <li>
              <a href="/notice" data-i18n="nav.advance-components.grid-stack">
                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                <span class="pcoded-mtext">공지사항</span>
                <span class="pcoded-mcaret"></span>
              </a>
            </li>
          </ul>
        </li>
      <%}%>
      <%if (userSite != 'autogreen'){%>
      <li class="pcoded-hasmenu filtering">
        <a href="javascript:void(0)" data-i18n="nav.advance-components.main">
          <span class="pcoded-micon"><i class="ti-filter"></i></span>
          <span class="pcoded-mtext">필터링현황</span>
          <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
          <li >
            <a href="/filtering/auto" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">자동처리현황</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li>
            <a href="/filtering/manual" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">수동처리현황</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li >
            <a href="/filtering" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">전체리스트</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
        </ul>
      </li>
      <li class="manual">
        <a href="/manual" data-i18n="nav.advance-components.main">
          <span class="pcoded-micon"><i class="ti-pencil-alt"></i></span>
          <span class="pcoded-mtext">수동처리</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <%if (userCLASS == 'a'){%>
      <li class="pcoded-hasmenu user">
        <a href="javascript:void(0)" data-i18n="nav.advance-components.main">
          <span class="pcoded-micon"><i class="ti-user"></i></span>
          <span class="pcoded-mtext">거래처관리</span>
          <span class="pcoded-mcaret"></span>
        </a>
        <ul class="pcoded-submenu">
          <li class="">
            <a href="/user/add" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">거래처등록</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
          <li class="">
            <a href="/user" data-i18n="nav.advance-components.draggable">
              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
              <span class="pcoded-mtext">거래처리스트</span>
              <span class="pcoded-mcaret"></span>
            </a>
          </li>
        </ul>
      </li>
      <%}%>
      <li class="delay">
        <a href="/delay">
          <span class="pcoded-micon"><i class="ti-time"></i></span>
          <span class="pcoded-mtext" data-i18n="nav.dash.main">Delay리스트</span>
          <span class="pcoded-mcaret"></span>
        </a>
      </li>
      <%}%>
    </ul>
  </div>
</nav>
<style>
  .img-cLogo{
    max-width: 174px;
    max-height: 48px;
  }
  .main-menu .main-menu-header .user-details{
    margin: 0px auto;
  }
</style>
