<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>대시보드</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">24시간 기준</li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <input type="hidden" id="user_class" value="<%=userCLASS%>">
          <input type="hidden" id="user_id" value="<%=userID%>">
          <% if(userCLASS == 'a'){ %>
          <select name="select" class="col-md-1 form-control form-control-inverse m-b-10 p-r-5 f-left" id="selectMCP" style="min-width: 122px;">
            <option value=''>MCP사선택</option>
            <% for(var i=0; i < mcpList.length; i++) {%>
              <option value="<%=mcpList[i].cp_id%>"><%=mcpList[i].cp_cname%></option>
            <% }; %>
          </select>
          <% } %>
          <% if(userCLASS == 'a' || userCLASS == 'm'){ %>
          <select name="select" class="col-md-1 form-control form-control-inverse m-b-10 m-l-5 p-r-5 f-left" id="selectCP">
            <option value=''>CP사선택</option>
            <% for(var i=0; i < cpList.length; i++) {%>
              <option value="<%=cpList[i].cp_id%>"><%=cpList[i].cp_cname%></option>
            <% }; %>
          </select>
          <% } %>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-block">
              <span>OSP 현황</span>
              <hr class="m-t-10 m-b-10">
              <h3 class="f-left" id="ospCount1"><%=ospCount%></h3>
              <span class="f-right f-12 text-info text-center m-b-0">
                <span>제휴 / 비제휴</span><br>
                <span id="ospCount2"><%=ospACount%> / <%=ospNACount%></span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xl-5">
          <div class="card table-card">
            <div class="">
              <div class="row-table">
                <div class="col-sm-4 card-block-big">
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <h5 id="cntsCount1"><%=contentsCount%></h5>
                      <span>관리콘텐츠</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 card-block-big">
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <h5 id="cntsCount2"><%=aCount%></h5>
                      <span>제휴-모니터링</span>
                    </div>
                  </div>
                </div><div class="col-sm-4 card-block-big">
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <h5 id="cntsCount3"><%=naCount%></h5>
                      <span>비제휴-모니터링</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xl-4">
          <div class="card table-card">
            <div class="">
              <div class="row-table">
                <div class="col-sm-6 card-block-big">
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <h5>0</h5>
                      <span>뮤레카 필터링</span>
                    </div>
                  </div>
                </div><div class="col-sm-6 card-block-big">
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <h5>0</h5>
                      <span>아컴스튜디오 필터링</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div id="chart1"></div>
          <div id="chart2"></div>
        </div>
        <div class="col-md-4">
          <div class="card table-1-card">
            <div class="card-block table-border-style" id="notice-block">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr class="text-capitalize">
                      <th colspan="4">공지사항</th>
                      <th id="notice-more"><a href="/notice">더보기</a></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i < notice.length; i++) { %>
                    <tr>
                      <td colspan="4"><%= notice[i].title %></td>
                      <td><%= notice[i].regdate %></td>
                    </tr>
                    <% }; %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-block table-border-style">
              <div class="table-responsive">
                <table class="table table-bordered" id="list">
                  <thead>
                    <tr>
                      <th width="10%">회사명</th>
                      <th>사이트</th>
                      <th>상태</th>
                      <th>합계</th>
                      <th>제휴건</th>
                      <th>비제휴건</th>
                      <th>뮤레카필터</th>
                      <th>아컴스튜디오필터</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-info">
                      <th colspan="3">합계</th>
                      <td id="totalCount1"><%=ospTotalCount.total%></td>
                      <td id="totalCount2"><%=ospTotalCount.atotal%></td>
                      <td id="totalCount3"><%=ospTotalCount.natotal%></td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <% for(var i=0; i < ospTotalCountList.length; i++) { %>
                    <tr>
                      <th><%=ospTotalCountList[i].osp_sname%></th>
                      <th><%=ospTotalCountList[i].cnt_osp%></th>
                      <th class="<%=((ospTotalCountList[i].osp_tstate == '0')? 'text-danger': 'text-success')%>">
                        <%=((ospTotalCountList[i].osp_tstate == '0')? '비제휴': '제휴')%>
                      </th>
                      <td><%=ospTotalCountList[i].total%></td>
                      <td><%=ospTotalCountList[i].atotal%></td>
                      <td><%=ospTotalCountList[i].natotal%></td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <% }; %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" id="contentsArr" value="<%=JSON.stringify(ospTotalCountList)%>">
<input type="hidden" id="aCountArr" value="<%=JSON.stringify(ospTotalCount)%>">
<!-- morris -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<!-- highcharts -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<style type="text/css">
  .card-block-big {
    padding: 2.75em 0;
  }
  /* 웹하드 모니터링 현황 */
  .col-md-8{
    margin-bottom: 30px;
  }
  #chart1,#chart2{
    float:left;
    padding-left:15px;
    padding-right:15px;
    min-width:415px;
    background-color:white;
  }
  #chart2{
    min-width:217px;
  }
  /* 공지사항*/
  #notice-block{
    padding: 0;
    font-size: 13px;
  }
  #notice-block th:nth-child(even),
  #notice-block td:nth-child(even){
    text-align:right;
  }
  #notice-more{
    text-decoration: underline;
    cursor: defaul;
  }
  #notice-more a{
    font-size: 13px;
  }
  .table-1-card .card-block {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
  }
  #list th,#list td{
    text-align: center;
  }
</style>
<script>
  $(document).ready(function(){
    Highcharts.setOptions({
      lang: {
        resetZoom:"전체보기"
      }
    });
    chart1Road();
    chart2Road();
  });
  function chart1Road(){
    var categoriesData = new Array();
    var contentsList = JSON.parse($('#contentsArr').val());
    var seriesData = [{
      name: '제휴',
      data: []
    }, {
      name: '비제휴',
      data: []
    }];
    for(var i in contentsList){
      categoriesData.push(contentsList[i].osp_sname);
      seriesData[0].data.push(contentsList[i].atotal);
      seriesData[1].data.push(contentsList[i].natotal);
    };
    var options = {
      chart: {
        renderTo: 'chart1',
        type: 'column'
      },
      title: {
        text: '웹하드별 모니터링현황',
        align: 'left',
        margin:20,
        style: { "fontSize": "14px" }
      },
      navigation: {
        buttonOptions: {
          enabled: false
        }
     },
      xAxis: {
        categories: categoriesData
      },
      yAxis: {
        min: 0,
        title: {
          text: null
        }
      },
      legend: {
        enabled: false
      },
      tooltip: {
        pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
        shared: true
      },
      plotOptions: {
        column: {
          stacking: 'percent'
        }
      },
      series: seriesData
    };
    Highcharts.chart(options);
  }
  function chart2Road(){
    var aCountList = JSON.parse($('#aCountArr').val());
    // var atotal_p = ((Number(aCountList.atotal.replace(/,/gi,'')) / Number(aCountList.total.replace(/,/gi,''))) * 100);
    // var natotal_p = ((Number(aCountList.natotal.replace(/,/gi,'')) / Number(aCountList.total.replace(/,/gi,''))) * 100);
    var options = {
      chart: {
        renderTo: 'chart2',
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
      },
      title: {
        text: null
      },
      navigation: {
        buttonOptions: {
          enabled: false
        }
     },
      tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
        pie: {
          allowPointSelect: true,
          cursor: 'pointer',
          dataLabels: {
            enabled: false
          },
          showInLegend: true
        }
      },
      series: [{
        name: '현황',
        colorByPoint: true,
        data: [{
          name: '제휴',
          y: Number(aCountList.atotal.replace(/,/gi,'')),
          sliced: true,
          selected: true
        }, {
          name: '비제휴',
          y: Number(aCountList.natotal.replace(/,/gi,''))
        }]
      }]
    };
    Highcharts.chart(options);
  }

  $(document).on('change','#selectMCP,#selectCP',function(){
    var type = $(this).attr('id');
    $.ajax({
      url: '/dashBoard/setting',
      type: 'post',
      data: {
        type:type,
        mid:($('#selectMCP option:selected').val() == undefined) ? '':$('#selectMCP option:selected').val(),
        cid:$('#selectCP option:selected').val()
      },
      error:function(request,status,error){
        console.log('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
        errorMSG();
      },
      success:function(data){
        // 그래프
        $('#chart1').empty();
        $('#chart2').empty();
        $('#contentsArr').val(JSON.stringify(data.ospTotalCountList));
        $('#aCountArr').val(JSON.stringify(data.ospTotalCount));
        chart1Road();
        chart2Road();
        // osp현황
        $('#ospCount1').text(data.ospCount);
        $('#ospCount2').text(data.ospACount+' / '+data.ospNACount);
        // 관리,제휴,비제휴
        $('#cntsCount1').text(data.contentsCount);
        $('#cntsCount2').text(data.aCount);
        $('#cntsCount3').text(data.naCount);
        // 리스트 표
        $('#totalCount1').text(data.total);
        $('#totalCount2').text(data.atotal);
        $('#totalCount3').text(data.natotal);
        $('#list tbody tr').not('.table-info').remove();
        data.ospTotalCountList.forEach(function(ele) {
          var html = '<tr><th>'+ele.osp_sname+'</th><th>'+ele.cnt_osp+'</th><th class="'+((ele.osp_tstate == '0')? 'text-danger': 'text-success')+'">'+((ele.osp_tstate == '0')? '비제휴': '제휴')+'</th><td>'+ele.total+'</td><td>'+ele.atotal+'</td><td>'+ele.natotal+'</td><td>0</td><td>0</td></tr>';
          $('#list tbody').append(html);
        });
        // cpList
        if('cpList' in data){
          $('#selectCP').empty();
          $('#selectCP').append('<option value=\'\'>CP사선택</option>');
          data.cpList.forEach(function(ele) {
            var html = '<option value="'+ele.cp_id+'">'+ele.cp_cname+'</option>';
            $('#selectCP').append(html);
          });
        }
      }
    });
  });
</script>
