<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>대시보드</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">24시간 기준</li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <input type="hidden" id="user_class" value="<%=userCLASS%>">
          <input type="hidden" id="user_id" value="<%=userID%>">
          <% if(userCLASS == 'a'){ %>
          <select name="select" class="col-md-1 form-control form-control-inverse m-b-10 p-r-5 f-left" id="selectMCP" style="min-width: 122px;">
            <option value=''>MCP사선택</option>
            <% for(var i=0; i < mcpList.length; i++) {%>
              <option value="<%=mcpList[i].cp_id%>"><%=mcpList[i].cp_cname%></option>
            <% }; %>
          </select>
          <% } %>
          <% if(userCLASS == 'a' || userCLASS == 'm'){ %>
          <select name="select" class="col-md-1 form-control form-control-inverse m-b-10 m-l-5 p-r-5 f-left" id="selectCP">
            <option value=''>CP사선택</option>
            <% for(var i=0; i < cpList.length; i++) {%>
              <option value="<%=cpList[i].cp_id%>"><%=cpList[i].cp_cname%></option>
            <% }; %>
          </select>
          <% } %>
        </div>
        <div class="col-md-3">
          <div class="card">
            <div class="card-block">
              <span>OSP 현황</span>
              <hr class="m-t-10 m-b-10">
              <h3 class="f-left" id="ospCount1"><%=ospCount%></h3>
              <span class="f-right f-12 text-info text-center m-b-0">
                <span>제휴 / 비제휴</span><br>
                <span id="ospCount2"><%=ospACount%> / <%=ospNACount%></span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xl-5">
          <div class="card table-card">
            <div class="">
              <div class="row-table">
                <div class="col-sm-4 card-block-big">
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <h5 id="cntsCount1"><%=contentsCount%></h5>
                      <span>관리콘텐츠</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 card-block-big">
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <h5 id="cntsCount2"><%=aCount%></h5>
                      <span>제휴-모니터링</span>
                    </div>
                  </div>
                </div><div class="col-sm-4 card-block-big">
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <h5 id="cntsCount3"><%=naCount%></h5>
                      <span>비제휴-모니터링</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xl-4">
          <div class="card table-card">
            <div class="">
              <div class="row-table">
                <div class="col-sm-6 card-block-big">
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <h5>0</h5>
                      <span>뮤레카 필터링</span>
                    </div>
                  </div>
                </div><div class="col-sm-6 card-block-big">
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <h5>0</h5>
                      <span>아컴스튜디오 필터링</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div id="chart1"></div>
          <div id="chart2"></div>
        </div>
        <div class="col-md-4">
          <div class="card table-1-card">
            <div class="card-block table-border-style" id="notice-block">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr class="text-capitalize">
                      <th colspan="4">공지사항</th>
                      <th id="notice-more"><a href="/notice">더보기</a></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% for(var i=0; i < notice.length; i++) { %>
                    <tr>
                      <td colspan="4"><span class="view" data-idx="<%= notice[i].n_idx %>"><%= notice[i].title %></span></td>
                      <td><%= notice[i].regdate %></td>
                    </tr>
                    <% }; %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-block table-border-style">
              <div class="table-responsive">
                <table class="table table-bordered" id="list">
                  <thead>
                    <tr>
                      <th width="10%">회사명</th>
                      <th>사이트</th>
                      <th>상태</th>
                      <th>합계</th>
                      <th>제휴건</th>
                      <th>비제휴건</th>
                      <th>뮤레카필터</th>
                      <th>아컴스튜디오필터</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-info">
                      <th colspan="3">합계</th>
                      <td id="totalCount1"><%=ospTotalCount.total%></td>
                      <td id="totalCount2"><%=ospTotalCount.atotal%></td>
                      <td id="totalCount3"><%=ospTotalCount.natotal%></td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <% for(var i=0; i < ospTotalCountList.length; i++) { %>
                    <tr>
                      <th><%=ospTotalCountList[i].osp_sname%></th>
                      <th><%=ospTotalCountList[i].cnt_osp%></th>
                      <th class="<%=((ospTotalCountList[i].osp_tstate == '0')? 'text-danger': 'text-success')%>">
                        <%=((ospTotalCountList[i].osp_tstate == '0')? '비제휴': '제휴')%>
                      </th>
                      <td><%=ospTotalCountList[i].total%></td>
                      <td><%=ospTotalCountList[i].atotal%></td>
                      <td><%=ospTotalCountList[i].natotal%></td>
                      <td>0</td>
                      <td>0</td>
                    </tr>
                    <% }; %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal start-->
    <div class='modal fade' id='view-Modal' data-backdrop="static" data-keyboard="false" role="dialog">
      <div class='modal-dialog modal-lg' role='document'>
        <div class='modal-content'>
          <div class='modal-body'>
            <div class='card'>
              <div class="card-block table-border-style">
                <div class="table-border-style">
                  <div class="table-responsive">
                    <table class="table" id='modal-cnt'>
                      <colgroup>
                        <col width="20%" />
                        <col width="80%" />
                      </colgroup>
                      <tbody>
                        <tr>
                          <th class="b-r-1 text-left">글쓴이</th>
                          <td>
                            <p id="view_writer"></p>
                          </td>
                        </tr>
                        <tr id="regdate_tr">
                          <th class="b-r-1 text-left">등록일</th>
                          <td>
                            <p id="view_regdate"></p>
                          </td>
                        </tr>
                        <tr>
                          <th class="b-r-1 text-left">제목</th>
                          <td>
                            <p id="view_title"></p>
                          </td>
                        </tr>
                        <tr>
                          <th class="b-r-1 text-left">내용</th>
                          <td>
                            <p id="view_content"></p>
                          </td>
                        </tr>
                        <tr>
                          <th class="b-r-1 text-left">첨부파일</th>
                          <td>
                            <ul id="view_uploadFileList">
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal end-->
  </div>
</div>
<input type="hidden" id="contentsArr" value="<%=JSON.stringify(ospTotalCountList)%>">
<input type="hidden" id="aCountArr" value="<%=JSON.stringify(ospTotalCount)%>">
<!-- morris -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<!-- highcharts -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<!-- custom -->
<link rel="stylesheet" href="/pages/dashBoard/style.css">
<script type="text/javascript" src="/pages/dashBoard/script.js"></script>
