<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>키워드설정</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">콘텐츠관리</a></li>
          <li class="breadcrumb-item"><a href="#!">키워드설정</a></li>
        </ul>
      </div>
      <div class="page-body">
        <div class="row">
        </div>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <input type="hidden" id="user_class" value="<%=userCLASS%>">
        <input type="hidden" id="user_id" value="<%=userID%>">
        <div class="col-md-12">
          <% if(userCLASS == 'a'){ %>
          <select name="select" class="col-md-1 form-control form-control-inverse m-b-10 p-r-5 f-left" id="selectMCP" style="min-width: 122px;">
            <option value=''>MCP사선택</option>
            <% for(var i=0; i < mcpList.length; i++) {%>
              <option value="<%=mcpList[i].cp_id%>"><%=mcpList[i].cp_cname%></option>
            <% }; %>
          </select>
          <% } %>
          <select name="select" class="col-md-1 form-control form-control-inverse m-b-10 m-l-5 p-r-5 f-left" id="selectCP">
            <option value=''>CP사선택</option>
            <% if(userCLASS == 'm'){
                for(var i=0; i < cpList.length; i++) {%>
                  <option value="<%=cpList[i].cp_id%>"><%=cpList[i].cp_cname%></option>
            <% };
            } %>
          </select>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-block table-border-style  table-responsive">
              <div class="preloader3 loader-block">
                <div class="circ1 loader-primary"></div>
                <div class="circ2 loader-primary"></div>
                <div class="circ3 loader-primary"></div>
                <div class="circ4 loader-primary"></div>
              </div>
              <table class="table table-bordered" id="listTable">
                <thead>
                  <tr>
                    <th width="1%">NO</th>
                    <th width="7%">MCP</th>
                    <th width="7%">CP</th>
                    <th width="5%">등록콘텐츠</th>
                    <th width="5%">검색키워드</th>
                    <th width="5%">제외키워드</th>
                    <th width="5%">수정</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i < list.length; i++) { %>
                  <tr>
                    <th><%= listCount - i - offset %></th>
                    <td><%= list[i].cnt_mcp %></td>
                    <td><%= list[i].cnt_cp %></td>
                    <td><%= list[i].CCount %></td>
                    <td><%= list[i].TCount %></td>
                    <td><%= list[i].DCount %></td>
                    <td class="text-center">
    								  <div class="btn-group btn-group-md text-center" style="padding-right: 0; display: inline-block;">
                        <button type="button" class="btn-delete btn btn-danger waves-effect waves-light alert-confirm1" style="margin-right: 5px;" data-cp="<%= list[i].cnt_cp %>" data-mcp="<%= list[i].cnt_mcp %>">
        								  <span class="far fa-trash-alt"></span>
        								</button>
      							    <button type="button" class="btn-edit btn btn-primary waves-effect waves-light"  data-cp="<%= list[i].cnt_cp %>" data-mcp="<%= list[i].cnt_mcp %>">
        								  <span class="far fa-edit"></span>
        								</button>
    								  </div>
    								</td>
                  </tr>
                  <% }; %>
                </tbody>
                <tfoot>
                  <%
                    var limit = 20;
                    var pageCount = Math.ceil(listCount/limit);
                    if(pageCount > 1) {
                    %>
                    <tr>
                      <td colspan="7">
                        <ul class="pagination float-right">
                          <%
                            var pageSize = 5;
                            var pRCnt = parseInt(page / pageSize);
                            if(page % pageSize == 0){
                              pRCnt = parseInt(page / pageSize) - 1;
                            }
                            if(page > 5) {
                          %>
                            <li class="page-item">
                              <a class="page-link" data-value="1" aria-label="Previous">
                                <i class="ti-angle-double-left f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" data-value=="<%=(pRCnt * pageSize)%>" aria-label="Previous">
                                <i class="ti-angle-left f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                          <% } %>
                          <% for(var index=pRCnt * pageSize + 1;index<(pRCnt + 1)*pageSize + 1;index++){%>
                            <li class= "<%=(page == index) ? 'active' : ''%> page-item">
                              <a class="page-link" data-value="<%=index%>" >
                                <%= index %>
                              </a>
                            </li>
                          <%
                              if(index == pageCount) {
                                break;
                              }
                            }
                          %>
                          <% if((pRCnt + 1) * pageSize < pageCount) { %>
                            <li class="page-item">
                              <a class="page-link" data-value="<%=(pRCnt + 1)*pageSize+1%>" aria-label="Next">
                                <i class="ti-angle-right f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" data-value="<%=pageCount%>" aria-label="Next">
                                <i class="ti-angle-double-right f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                          <% } %>
                        </ul>
                      </td>
                    </tr>
                    <% } %>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
<!-- custom -->
<link rel="stylesheet" href="/pages/keyword/style.css">
<script type="text/javascript" src="/pages/keyword/script.js"></script>
