<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>공지사항</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">관리설정</a></li>
          <li class="breadcrumb-item"><a href="#!">공지사항</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <div class="col-12 col-md-3 f-right col-sm-9 m-l-10 p-l-0 p-r-0 m-b-10 right-icon-control">
            <input type="text" class="form-control p-t-10 form-control-inverse search-text" id="searchInput">
            <div class="form-icon" id="searchBtn">
              <i class="fas fa-search"></i>
            </div>
          </div>
          <select id="selectSearchType" name="select" class="col-sm-1 form-control form-control-inverse m-r-10 m-b-10 f-right search-select">
            <option value="t">제목</option>
            <option value="c">내용</option>
            <option value="w">글쓴이</option>
          </select>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-block table-border-style  table-responsive">
              <div class="preloader3 loader-block">
                <div class="circ1 loader-primary"></div>
                <div class="circ2 loader-primary"></div>
                <div class="circ3 loader-primary"></div>
                <div class="circ4 loader-primary"></div>
              </div>
              <table class="table table-bordered" id="listTable">
                <thead>
                  <tr>
                    <th width="1%">NO</th>
                    <th width="50%">제목</th>
                    <th width="5%">작성자</th>
                    <th width="5%">등록일</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i < list.length; i++) { %>
                  <tr>
                    <th><%= listCount - i - (page-1) %></th>
                    <td><div class="<%= ((userCLASS != 'a') ? 'view':'edit')%>" data-idx="<%= list[i].n_idx %>"><%= list[i].title %></div></td>
                    <td><%= list[i].writer %></td>
                    <td><%= list[i].regdate %></td>
                  </tr>
                  <% }; %>
                </tbody>
                <tfoot>
                  <%
                    var limit = 20;
                    var pageCount = Math.ceil(listCount/limit);
                    if(pageCount > 1) {
                    %>
                    <tr>
                      <td colspan="4">
                        <ul class="pagination float-right">
                          <%
                            var pageSize = 5;
                            var pRCnt = parseInt(page / pageSize);
                            if(page % pageSize == 0){
                              pRCnt = parseInt(page / pageSize) - 1;
                            }
                            if(page > 5) {
                          %>
                            <li class="page-item">
                              <a class="page-link" data-value="1" aria-label="Previous">
                                <i class="ti-angle-double-left f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" data-value=="<%=(pRCnt * pageSize)%>" aria-label="Previous">
                                <i class="ti-angle-left f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                            </li>
                          <% } %>
                          <% for(var index=pRCnt * pageSize + 1;index<(pRCnt + 1)*pageSize + 1;index++){%>
                            <li class= "<%=(page == index) ? 'active' : ''%> page-item">
                              <a class="page-link" data-value="<%=index%>" >
                                <%= index %>
                              </a>
                            </li>
                          <%
                              if(index == pageCount) {
                                break;
                              }
                            }
                          %>
                          <% if((pRCnt + 1) * pageSize < pageCount) { %>
                            <li class="page-item">
                              <a class="page-link" data-value="<%=(pRCnt + 1)*pageSize+1%>" aria-label="Next">
                                <i class="ti-angle-right f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                            <li class="page-item">
                              <a class="page-link" data-value="<%=pageCount%>" aria-label="Next">
                                <i class="ti-angle-double-right f-12"></i>
                                <span aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </li>
                          <% } %>
                        </ul>
                      </td>
                    </tr>
                    <% } %>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        <% if(userCLASS == 'a'){ %>
        <div class="col-md-12">
          <button class="btn btn-inverse btn-add m-b-50 f-right"><i class="fas fa-plus"></i>글등록</button>
        </div>
        <%}%>
      </div>
      <input type="hidden" id="uclass" value="<%=userCLASS%>">
      <!-- Modal start-->
      <div class='modal fade' id='edit-Modal' data-backdrop="static" data-keyboard="false" role="dialog">
        <div class='modal-dialog modal-lg' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class="modal-title">공지 수정</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class='modal-body'>
              <div class='card'>
                <div class="card-block table-border-style">
                  <div class="table-border-style">
                    <div class="table-responsive">
                      <table class="table" id='modal-cnt'>
                        <colgroup>
                          <col width="30%" />
                          <col width="70%" />
                        </colgroup>
                        <tbody>
                          <tr>
                            <th class="b-r-1 text-left">* 글쓴이</th>
                            <td>
                              <input class="form-control input-sm" id="writer" type="text">
                              <input id="o_writer" type="hidden" value="">
                              <span class='messages'><p class='text-danger error'></p></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">* 제목</th>
                            <td>
                              <input class="form-control input-sm" id="title" type="text">
                              <input id="o_title" type="hidden" value="">
                              <span class='messages'><p class='text-danger error'></p></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">* 내용</th>
                            <td>
                              <textarea class="form-control" id="content" rows="10"></textarea>
                              <input id="o_content" type="hidden" value="">
                              <span class='messages'><p class='text-danger error'></p></span>
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">첨부파일</th>
                            <td>
                              <div class="form-control f-left col-sm-9 file-list">
                                <ul id="uploadFileList">
                                </ul>
                              </div>
                              <input id="file" type="hidden">
                              <button class="f-right btn btn-default" onclick="$('#file_input').trigger('click');">파일 업로드</button>
                              <!-- 파일 업로드 -->
                              <form action="/setting/upload" method="post" enctype="multipart/form-data" id="fileForm">
                                <input class="upload" name="fileInput" id="file_input" type="file">
                              </from>
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">* 분류</th>
                            <td>
                              <div class="form-radio text-left" id="type">
                                <div class="radio radiofill radio-default radio-inline">
                                  <label>
                                    <input type="radio" value="m" name="type" class="type">
                                    <i class="helper"></i>MCP공지
                                  </label>
                                </div>
                                <div class="radio radiofill radio-default radio-inline">
                                  <label>
                                    <input type="radio" value="c" name="type" class="type">
                                    <i class="helper"></i>CP공지
                                  </label>
                                </div>
                                <input id="o_type" value="" type="hidden" class="form-control">
                              </div>
                              <span class='messages'><p class='text-danger error'></p></span>
                            </td>
                          </tr>
                          <tr id="regdate_tr" style="display:none">
                            <th class="b-r-1 text-left">등록일</th>
                            <td>
                              <input class="form-control input-sm" id="regdate" type="text" readonly>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button id="btn-add" class="btn btn-inverse m-b-0" data-idx="" type="button">등록</button>
              <div id="btn-update">
                <button class="btn-update btn btn-warning m-b-0" data-idx="" type="button">수정</button>
                <button class="btn-delete btn btn-danger m-b-0" data-idx="" type="button">삭제</button>
              </div>
              <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
      <!-- Modal start-->
      <div class='modal fade' id='view-Modal' data-backdrop="static" data-keyboard="false" role="dialog">
        <div class='modal-dialog modal-lg' role='document'>
          <div class='modal-content'>
            <div class='modal-body'>
              <div class='card'>
                <div class="card-block table-border-style">
                  <div class="table-border-style">
                    <div class="table-responsive">
                      <table class="table" id='modal-cnt'>
                        <colgroup>
                          <col width="20%" />
                          <col width="80%" />
                        </colgroup>
                        <tbody>
                          <tr>
                            <th class="b-r-1 text-left">글쓴이</th>
                            <td>
                              <p id="view_writer"></p>
                            </td>
                          </tr>
                          <tr id="regdate_tr">
                            <th class="b-r-1 text-left">등록일</th>
                            <td>
                              <p id="view_regdate"></p>
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">제목</th>
                            <td>
                              <p id="view_title"></p>
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">내용</th>
                            <td>
                              <p id="view_content"></p>
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">첨부파일</th>
                            <td>
                              <ul id="view_uploadFileList">
                              </ul>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
    </div>
  </div>
</div>
<!-- Bootstrap daterangepicker js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.js"></script>
<!-- alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
<!-- custom -->
<link rel="stylesheet" href="/pages/notice/style.css">
<script type="text/javascript" src="/pages/notice/script.js"></script>
