<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>OSP사현황</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">관리설정</a></li>
          <li class="breadcrumb-item"><a href="#!">OSP사현황</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <select name="select" class="col-md-1 form-control form-control-inverse m-b-10 p-r-5 f-left" id="selectTState" style="min-width: 122px;">
            <option value=''>전체</option>
            <option value='1'>제휴</option>
            <option value='0'>비제휴</option>
          </select>
          <div class="col-12 col-md-3 f-right col-sm-9 m-l-10 p-l-0 p-r-0 m-b-10 right-icon-control">
            <input type="text" class="form-control p-t-10 form-control-inverse search-text" id="searchInput">
            <div class="form-icon" id="searchBtn">
              <i class="fas fa-search"></i>
            </div>
          </div>
          <select id="selectSearchType" name="select" class="col-sm-1 form-control form-control-inverse m-r-10 m-b-10 f-right search-select">
            <option value="n">서비스명</option>
            <option value="i">ID</option>
          </select>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-block table-border-style  table-responsive">
              <div class="preloader3 loader-block">
                <div class="circ1 loader-primary"></div>
                <div class="circ2 loader-primary"></div>
                <div class="circ3 loader-primary"></div>
                <div class="circ4 loader-primary"></div>
              </div>
              <table class="table table-bordered" id="listTable">
                <thead>
                  <tr>
                    <th width="1%">NO</th>
                    <th width="5%">오픈일</th>
                    <th width="5%">서비스명</th>
                    <th width="5%">ID</th>
                    <th width="5%">제휴현황</th>
                    <th width="5%">모바일서비스</th>
                    <th width="5%">상태</th>
                    <th width="5%">등록일</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i < list.length; i++) { %>
                  <tr>
                    <th>
                      <%= listCount - i - offset %>
                    </th>
                    <td>
                      <div class="edit" data-idx="<%= list[i].n_idx %>">
                        <%= list[i].osp_open %>
                      </div>
                    </td>
                    <td>
                      <div class="sname" data-idx="<%= list[i].n_idx %>">
                        <%= list[i].osp_sname %>
                        <div>
                    </td>
                    <td>
                      <%= list[i].osp_id %>
                    </td>
                    <td>
                      <%= ((list[i].osp_tstate == "0") ? '비제휴' : '제휴') %>
                    </td>
                    <td>
                      <div class="form-radio">
                        <div class="border-checkbox-section m-t-5">
                          <div class="border-checkbox-group border-checkbox-group-default">
                            <input class="border-checkbox mail-checkbox" type="checkbox" id="osp_mobile_0_<%=i%>" value="0" <%=((list[i].osp_mobile=='0' || list[i].osp_mobile=='2' ) ? 'checked' : '' ) %> onclick="return false;">
                            <label class="border-checkbox-label m-b-0" for="osp_mobile_0_<%=i%>">어플</label>
                          </div>
                          <div class="border-checkbox-group border-checkbox-group-default">
                            <input class="border-checkbox mail-checkbox" type="checkbox" id="osp_mobile_1_<%=i%>" value="1" <%=((list[i].osp_mobile=='1' || list[i].osp_mobile=='2' ) ? 'checked' : '' ) %> onclick="return false;">
                            <label class="border-checkbox-label m-b-0" for="osp_mobile_1_<%=i%>">웹</label>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <%= ((list[i].osp_tstate == "0") ? '중지' : '정상') %>
                    </td>
                    <td>
                      <%= list[i].osp_regdate %>
                    </td>
                  </tr>
                  <% }; %>
                </tbody>
                <tfoot>
                  <%
                    var limit = 20;
                    var pageCount = Math.ceil(listCount/limit);
                    if(pageCount > 1) {
                    %>
                  <tr>
                    <td colspan="8">
                      <ul class="pagination float-right">
                        <%
                            var pageSize = 5;
                            var pRCnt = parseInt(page / pageSize);
                            if(page % pageSize == 0){
                              pRCnt = parseInt(page / pageSize) - 1;
                            }
                            if(page > 5) {
                          %>
                        <li class="page-item">
                          <a class="page-link" data-value="1" aria-label="Previous">
                            <i class="ti-angle-double-left f-12"></i>
                            <span aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" data-value=="<%=(pRCnt * pageSize)%>" aria-label="Previous">
                            <i class="ti-angle-left f-12"></i>
                            <span aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                        </li>
                        <% } %>
                        <% for(var index=pRCnt * pageSize + 1;index<(pRCnt + 1)*pageSize + 1;index++){%>
                        <li class="<%=(page == index) ? 'active' : ''%> page-item">
                          <a class="page-link" data-value="<%=index%>">
                            <%= index %>
                          </a>
                        </li>
                        <%
                              if(index == pageCount) {
                                break;
                              }
                            }
                          %>
                        <% if((pRCnt + 1) * pageSize < pageCount) { %>
                        <li class="page-item">
                          <a class="page-link" data-value="<%=(pRCnt + 1)*pageSize+1%>" aria-label="Next">
                            <i class="ti-angle-right f-12"></i>
                            <span aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" data-value="<%=pageCount%>" aria-label="Next">
                            <i class="ti-angle-double-right f-12"></i>
                            <span aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </li>
                        <% } %>
                      </ul>
                    </td>
                  </tr>
                  <% } %>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn btn-inverse btn-add m-b-50 f-right"><i class="fas fa-plus"></i>신규등록</button>
        </div>
      </div>
      <!-- Modal start-->
      <div class='modal fade' id='edit-Modal' aria-hidden="true" tabindex="-1" role="dialog">
        <div class='modal-dialog modal-lg' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class="modal-title">정보 수정</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class='modal-body'>
              <div class='card'>
                <div class="card-block table-border-style">
                  <div class="table-border-style">
                    <div class="table-responsive">
                      <table class="table" id='modal-cnt'>
                        <colgroup>
                          <col width="30%" />
                          <col width="70%" />
                        </colgroup>
                        <tbody>
                          <tr>
                            <th class="b-r-1 text-left">* 서비스명</th>
                            <td>
                              <input class="form-control input-sm" id="osp_sname" type="text">
                              <input id="o_sname" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">* 오픈일</th>
                            <td>
                              <input class="form-control input-sm" id="osp_open" type="text">
                              <input id="o_osp_open" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">ID<span class="text-danger m-l-5">(수정불가)</span></th>
                            <td>
                              <input class="form-control input-sm" id="osp_id" type="text" readonly>
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">* PW</th>
                            <td>
                              <input class="form-control input-sm" id="osp_pw" type="password">
                              <input id="o_osp_pw" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">* 법인명</th>
                            <td>
                              <input class="form-control input-sm" id="osp_cname" type="text">
                              <input id="o_osp_cname" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">* 사업자번호</th>
                            <td>
                              <input class="form-control input-sm" id="osp_cnum" type="text">
                              <input id="o_osp_cnum" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">통신판매</th>
                            <td>
                              <input class="form-control input-sm" id="osp_mnum" type="text">
                              <input id="o_osp_mnum" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">부가통신사업자</th>
                            <td>
                              <input class="form-control input-sm" id="osp_scnum" type="text">
                              <input id="o_osp_scnum" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">* 제휴현황</th>
                            <td>
                              <div class="form-radio text-left" id="osp_tstate">
                                <div class="radio radiofill radio-default radio-inline m-t-5">
                                  <label class="m-b-0">
                                    <input type="radio" value="1" name="osp_tstate" checked>
                                    <i class="helper"></i>제휴
                                  </label>
                                </div>
                                <div class="radio radiofill radio-default radio-inline">
                                  <label class="m-b-0">
                                    <input type="radio" value="0" name="osp_tstate">
                                    <i class="helper"></i>비제휴
                                  </label>
                                </div>
                              </div>
                              <input id="o_osp_tstate" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">* 대표자명</th>
                            <td>
                              <input class="form-control input-sm" id="osp_ceoname" type="text">
                              <input id="o_osp_ceoname" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">담당자명</th>
                            <td>
                              <input class="form-control input-sm" id="osp_pname" type="text">
                              <input id="o_osp_pname" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">* URL</th>
                            <td>
                              <input class="form-control input-sm" id="osp_url" type="text">
                              <input id="o_osp_url" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">상세페이지URL</th>
                            <td>
                              <input class="form-control input-sm" id="osp_durl" type="text">
                              <input id="o_osp_durl" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">다운로드이미지</th>
                            <td>
                              <input class="form-control input-sm" id="osp_img" type="text">
                              <input id="o_osp_img" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">주소</th>
                            <td>
                              <input class="form-control input-sm" id="osp_addrs" type="text">
                              <input id="o_osp_addrs" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">연락처(숫자만)</th>
                            <td>
                              <input class="form-control input-sm" id="osp_tel" type="text">
                              <input id="o_osp_tel" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">FAX(숫자만)</th>
                            <td>
                              <input class="form-control input-sm" id="osp_fax" type="text">
                              <input id="o_osp_fax" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">* 이메일</th>
                            <td>
                              <input class="form-control input-sm" id="osp_email" type="text">
                              <input id="o_osp_email" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">모바일</th>
                            <td>
                              <div class="form-radio text-left">
                                <div class="border-checkbox-section m-t-5" id="osp_mobile">
                                  <div class="border-checkbox-group border-checkbox-group-default">
                                    <input class="border-checkbox mail-checkbox" value="0" type="checkbox" id="osp_mobile_0">
                                    <label class="border-checkbox-label m-b-0" for="osp_mobile_0">어플</label>
                                  </div>
                                  <div class="border-checkbox-group border-checkbox-group-default">
                                    <input class="border-checkbox mail-checkbox" value="1" type="checkbox" id="osp_mobile_1">
                                    <label class="border-checkbox-label m-b-0" for="osp_mobile_1">웹</label>
                                  </div>
                                  <input id="o_osp_mobile" type="hidden" value="">
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">모바일URL</th>
                            <td>
                              <input class="form-control input-sm" id="osp_mobile_url" type="text">
                              <input id="o_osp_mobile_url" type="hidden" value="">
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">* 상태</th>
                            <td>
                              <div class="form-radio text-left" id="osp_state">
                                <div class="radio radiofill radio-default radio-inline">
                                  <label>
                                    <input type="radio" value="1" name="osp_state" class="osp_state">
                                    <i class="helper"></i>정상
                                  </label>
                                </div>
                                <div class="radio radiofill radio-default radio-inline">
                                  <label>
                                    <input type="radio" value="0" name="osp_state" class="osp_state">
                                    <i class="helper"></i>중지
                                  </label>
                                </div>
                                <input id="o_osp_state" value="" type="hidden" class="form-control">
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <th class="b-r-1 text-left">등록일<span class="text-danger m-l-5">(수정불가)</span></th>
                            <td>
                              <input class="form-control input-sm" id="osp_regdate" type="text" readonly>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn-update btn btn-warning m-b-0" data-idx="" type="button">수정</button>
              <button class="btn-delete btn btn-danger m-b-0" data-idx="" type="button">삭제</button>
              <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
      <!-- Modal start-->
      <div class='modal fade' id='detail-Modal' aria-hidden="true" tabindex="-1" role="dialog">
        <div class='modal-dialog modal-lg' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class="modal-title" id="company-name"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class='modal-body'>
              <div class="row">
                <div class="col-md-6 col-xl-4">
                  <div class="card counter-card-3">
                    <div class="card-block-big">
                      <div>
                        <h3>2.91M</h3>
                        <p>Total Visits<span class="f-right text-default">
                            <i class="icofont icofont-arrow-down"></i>6.92%
                          </span></p>
                        <div class="progress ">
                          <div class="progress-bar progress-bar-striped progress-xs progress-bar-default" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <i class="icofont icofont-upload"></i>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4">
                  <div class="card counter-card-3">
                    <div class="card-block-big">
                      <div>
                        <h3>10,500</h3>
                        <p>Global Rank
                          <span class="f-right text-default">
                            <i class="icofont icofont-arrow-down"></i>
                            22.34%
                          </span></p>
                        <div class="progress ">
                          <div class="progress-bar progress-bar-striped progress-xs progress-bar-default" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <i class="icofont icofont-upload"></i>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-xl-4">
                  <div class="card counter-card-3">
                    <div class="card-block-big">
                      <div>
                        <h3>118</h3>
                        <p>Country Rank
                          <span class="f-right text-default">
                            <i class="icofont icofont-arrow-down"></i>
                            22.34%
                          </span></p>
                        <div class="progress ">
                          <div class="progress-bar progress-bar-striped progress-xs progress-bar-default" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                      <i class="icofont icofont-upload"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class='card'>
                <div class="card-block table-border-style">
                  <div class="table-border-style">
                    <table class="table table-sm">
                      <colgroup>
                        <col width="30%" />
                        <col width="70%" />
                      </colgroup>
                      <tbody>
                        <tr>
                          <th>대표</th>
                          <td>
                            <p id="osp_ceoname"></p>
                          </td>
                        </tr>
                        <tr>
                          <th>사업자등록번호</th>
                          <td>
                            <p id="osp_cnum"></p>
                          </td>
                        </tr>
                        <tr>
                          <th>통신판매</th>
                          <td>
                            <p id="osp_mnum"></p>
                          </td>
                        </tr>
                        <tr>
                          <th>부가통신사업등록번호</th>
                          <td>
                            <p id="osp_scnum"></p>
                          </td>
                        </tr>
                        <tr>
                          <th>주소</th>
                          <td>
                            <p id="osp_addrs"></p>
                          </td>
                        </tr>
                        <tr>
                          <th>이메일</th>
                          <td>
                            <p id="osp_email"></p>
                          </td>
                        </tr>
                        <tr>
                          <th>TEL</th>
                          <td>
                            <p id="osp_tel"></p>
                          </td>
                        </tr>
                        <tr>
                          <th>FAX</th>
                          <td>
                            <p id="osp_fax"></p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div id="chart1" class="col-md-12"></div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary mobtn" data-dismiss='modal' aria-label='Close' type="button">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
    </div>
  </div>
</div>
<!-- Bootstrap daterangepicker js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.js"></script>
<!-- alert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
<!-- highcharts -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<!-- custom -->
<link rel="stylesheet" href="/pages/osp/style.css">
<script type="text/javascript" src="/pages/osp/script2.js"></script>
