<div class="main-body">
  <div class="page-wrapper">
    <div class="page-header">
      <div class="page-header-title">
        <h4>매출통계현황</h4>
      </div>
      <div class="page-header-breadcrumb">
        <ul class="breadcrumb-title">
          <li class="breadcrumb-item">
            <a href="/">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item"><a href="#!">매출통계</a></li>
          <li class="breadcrumb-item"><a href="/sales/add">매출통계현황</a></li>
        </ul>
      </div>
    </div>
    <div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <input type="hidden" id="user_class" value="<%=userCLASS%>">
          <input type="hidden" id="user_id" value="<%=userID%>">
          <input type="hidden" id="sDate" value="<%=sDate%>">
          <input type="hidden" id="eDate" value="<%=eDate%>">
          <select name="select" class="col-md-1 form-control form-control-inverse m-b-10 p-r-5 f-left" id="selectMCP" style="min-width: 122px;">
            <option value=''>MCP사선택</option>
            <% for(var i=0; i < mcpList.length; i++) {%>
              <option value="<%=mcpList[i].cp_id%>"><%=mcpList[i].cp_cname%></option>
            <% }; %>
          </select>
          <% if(userCLASS != 'c'){ %>
          <select name="select" class="col-md-1 form-control form-control-inverse m-b-10 m-l-5 p-r-5 f-left" id="selectCP">
            <option value=''>CP사선택</option>
          </select>
          <% } %>
          <select name="select" class="col-md-1 form-control form-control-inverse m-b-10  m-l-5 p-r-5 f-left" id="selectOSP" style="min-width: 122px;">
            <option value=''>OSP사선택</option>
            <% for(var i=0; i < ospList.length; i++) {%>
              <option value="<%=ospList[i].osp_id%>"><%=ospList[i].osp_sname%></option>
            <% }; %>
          </select>
          <button class="btn btn-default btn-excel f-left  m-l-5 p-r-5 p-l-5">
            <i class="far fa-file-excel"></i>EXCEL
          </button>
          <div class="tui-datetime-input-end tui-datepicker-input tui-datetime-input tui-has-focus form-control form-control-inverse f-right" style="height: 38px;">
              <span class="dateTitle">끝:</span>
              <input type="text" id="datepicker-input-end" aria-label="Year-Month" style="width: 105px;">
              <span class="tui-ico-date"></span>
          </div>
          <div class="datepicker-cell f-right" id="datepicker-month-end"  style="margin-top: 38px;"></div>
          <div class="tui-datetime-input-start tui-datepicker-input tui-datetime-input tui-has-focus form-control form-control-inverse f-right" style="height: 38px;">
              <span class="dateTitle">시작:</span>
              <input type="text" id="datepicker-input-start" aria-label="Year-Month" style="width: 105px;">
              <span class="tui-ico-date"></span>
          </div>
          <div class="datepicker-cell f-right" id="datepicker-month-start"  style="margin-top: 38px;"></div>
          <!-- <div id="reportrange" class="col-md-2 form-control form-control-inverse f-right">
            <i class="glyphicon glyphicon-calendar far fa-calendar-alt"></i>
            <span></span>
            <i class="f-right fa fa-angle-down" style="font-size: 17px;"></i>
          </div> -->
        </div>
        <div class="col-md-12">
          <input type="hidden" id="graph" value="<%=graph%>">
          <div id="chart1" class="col-md-12"></div>
        </div>
        <div class="col-md-12 m-t-10">
          <div class="col-md-3 f-right p-r-0">
            <div class="card m-b-0">
              <div class="card-block table-border-style  table-responsive">
                <div class="table-border-style">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="totalTable">
                      <thead>
                        <tr>
                          <th>총매출</th>
                          <th>정산매출</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td id="s_total_money"><%=totalResult.s_total_money%></td>
                          <td id="s_settlement_money"><%=totalResult.s_settlement_money%></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 m-t-10">
          <div class="card">
            <div class="card-block table-border-style  table-responsive">
              <div class="preloader3 loader-block">
                <div class="circ1 loader-primary"></div>
                <div class="circ2 loader-primary"></div>
                <div class="circ3 loader-primary"></div>
                <div class="circ4 loader-primary"></div>
              </div>
              <table class="table table-bordered" id="listTable">
                <thead>
                  <tr>
                    <th width="1%">NO</th>
                    <th width="5%">정산일</th>
                    <th width="5%">OSP</th>
                    <th width="5%">총매출</th>
                    <th width="5%">정산매출</th>
                    <th width="5%">총판매건</th>
                    <th width="1%">상세보기</th>
                  </tr>
                </thead>
                <tbody>
                  <%for(var i=0; i < list.length; i++) { %>
                  <tr>
                    <th><%= i + 1 %></th>
                    <td><%= ((sDate == eDate) ? sDate:(sDate+' ~ '+eDate)) %></td>
                    <td><%= list[i].s_osp %></td>
                    <td><%= list[i].s_total_money %></td>
                    <td><%= list[i].s_settlement_money %></td>
                    <td><%= list[i].s_total_sales %></td>
                    <td class="text-center">
                      <button type="button" class="btn-detail tabledit-edit-button btn btn-primary waves-effect waves-light text-center" data-osp="<%= list[i].s_osp %>">
                        <span class="far fa-edit"></span>
                      </button>
                    </td>
                  </tr>
                  <% } %>
                </tbody>
                <tfoot></tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal start-->
      <div class='modal fade' id='detail-Modal' data-backdrop="static" data-keyboard="false" role="dialog">
        <div class='modal-dialog modal-lg' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class="modal-title">상세현황</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class='modal-body row'>
              <div class="col-md-12 m-t-10">
                <table class="table table-bordered" id="listTable_m">
                    <thead>
                      <tr>
                        <th width="1%">NO</th>
                        <th width="5%">정산일</th>
                        <th width="5%">OSP</th>
                        <th width="5%">총판매건</th>
                        <th width="5%">총매출</th>
                        <th width="15%">정산매출</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr>
                        <th>1</th>
                        <td>2019-01</td>
                        <td>bigfile</td>
                        <td>1</td>
                        <td>1,000,000</td>
                        <td>1,000,000</td>
                      </tr> -->
                    </tbody>
                    <tfoot></tfoot>
                  </table>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-inverse btn-m-excel"><i class="far fa-file-excel"></i>EXCEL</button>
              <button type="button" class="btn btn-default waves-effect " data-dismiss="modal">취소</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
    </div>
  </div>
</div>
<!-- datePicker -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/moment.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.js"></script> -->
<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css">
<script type="text/javascript" src="https://uicdn.toast.com/tui.code-snippet/v1.5.0/tui-code-snippet.js"></script>
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<!-- alert -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
<!-- chart -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script type="text/javascript" src="/pages/sales/chart.js"></script>
<!-- custom -->
<link rel="stylesheet" href="/pages/sales/style.css">
<script type="text/javascript" src="/pages/sales/script.js"></script>
