<div class='main-body'>
  <div class='page-wrapper'>
    <div class='page-header'>
      <div class='page-header-title'>
        <h4>거래처리스트</h4>
      </div>
      <div class='page-header-breadcrumb'>
        <ul class='breadcrumb-title'>
          <li class='breadcrumb-item'>
            <a href='/'>
              <i class='icofont icofont-home'></i>
            </a>
          </li>
          <li class='breadcrumb-item'><a href='#!'>거래처관리</a></li>
          <li class='breadcrumb-item'><a href='#!'>거래처리스트</a></li>
        </ul>
      </div>
    </div>
    <div class='page-body'>
      <div class='row'>
        <div class='col-md-12'>
          <select name='select' class='col-md-1 form-control form-control-inverse m-b-10 p-r-5 f-left' id='selectClass'>
            <option value='a' <%= (uClass == 'a') ? 'selected':''%>>전체</option>
            <option value='o' <%= (uClass == 'o') ? 'selected':''%>>OSP사</option>
            <option value='c' <%= (uClass == 'c') ? 'selected':''%>>CP사</option>
          </select>
        </div>
        <div class='col-md-12'>
          <div class='card'>
            <div class='card-block table-border-style table-responsive'>
              <table class='table table-sm'>
                <thead>
                  <tr>
                    <th width='1%'>NO</th>
                    <th width='5%'>거래처명</th>
                    <th width='5%'>ID</th>
                    <th width='5%'>PW</th>
                    <th width='5%'>분류</th>
                    <th width='1%'>상태</th>
                    <th width='10%'>등록일</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i < userData.length; i++) { %>
                  <tr>
                    <th><%=totalUser - i - minusCount %></th>
                    <td class='user'><%= userData[i].U_name %></td>
                    <td><%= userData[i].U_id %></td>
                    <td><%= userData[i].U_pw %></td>
                    <td><%= (userData[i].U_class == 'a') ? 'Admin' : (userData[i].U_class == 'o') ? 'OSP' : 'CP' %></td>
                    <td><%= (userData[i].U_state != '1') ? 'OFF' : 'ON' %></td>
                    <td><%= moment(userData[i].U_regdate).format('YYYY-MM-DD hh:mm:ss') %></td>
                  </tr>
                  <% }; %>
                </tbody>
                <tfoot>
                  <% if(pageCount > 1) { %>
                  <tr>
                    <td colspan="9">
                      <ul class="pagination float-right">
                        <%
                          var y = 1;
                          if(currentPage>1) {
                            y = currentPage-1;
                        %>
                          <li class="page-item">
                            <a class="page-link" href="/user/?page=<%= y %>&class=<%=uClass%>" aria-label="Previous">&laquo;
                              <span aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                        <% } %>
                        <%
                          for (y; y <= pageCount; y++) {
                        %>
                          <li class= "<%=(currentPage == y) ? 'active' : ''%> page-item">
                            <a class="page-link" href="/user/?page=<%= y %>&class=<%=uClass%>"><%= y %></a>
                          </li>
                        <%
                            if(parseInt(currentPage) + 4 == y) {
                              break;
                            }
                          }
                        %>
                        <% if(currentPage != pageCount) { %>
                          <li class="page-item">
                            <a class="page-link" href="/user/?page=<%= Math.ceil(pageCount) %>&class=<%=uClass%>" aria-label="Next">&raquo;
                              <span aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        <% } %>
                      </ul>
                    </td>
                  </tr>
                  <% } %>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal start-->
      <div class='modal fade' id='user-Modal' role='dialog'>
        <div class='modal-dialog modal-lg' role='document'>
          <div class='modal-content'>
            <div class='modal-header'>
              <h5 class='modal-title'>거래처 수정</h5>
              <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                <span aria-hidden='true'><i class='icofont icofont-close-line'></i></span>
              </button>
            </div>
            <div class='modal-body'>
              <div class='card'>
                <div class='card-block'>
                  <div class='form-group row'>
                    <label class='col-sm-2 col-form-label'>거래처명</label>
                    <div class='col-sm-5'>
                      <input type='text' class='form-control' name='userName'>
                    </div>
                  </div>
                  <div class='form-group row'>
                    <label class='col-sm-2 col-form-label'>ID</label>
                    <div class='col-sm-5'>
                      <input type='text' class='form-control' name='id' readonly>
                      <span class='messages'><p class='text-danger error'>(수정불가)</p></span>
                    </div>
                  </div>
                  <div class='form-group row'>
                    <label class='col-sm-2 col-form-label'>PASSWORD</label>
                    <div class='col-sm-5'>
                      <input type='text' class='form-control' name='pwd'>
                    </div>
                  </div>
                  <div class='form-group row'>
                    <label class='col-sm-2 col-form-label'>분류</label>
                    <div class='col-sm-5'>
                      <input type='text' class='form-control' name='class' readonly>
                      <span class='messages'><p class='text-danger error'>(수정불가)</p></span>
                    </div>
                  </div>
                  <div class='form-group row'>
                    <label class='col-sm-2 col-form-label'>상태</label>
                    <div class='col-sm-5'>
                      <select class='form-control' id='status'>
                        <option value='1' id='ON'>ON</option>
                        <option value='0' id='OFF'>OFF</option>
                      </select>
                    </div>
                  </div>
                  <div class='form-group row'>
                    <label class='col-sm-2 col-form-label'>등록일</label>
                    <div class='col-sm-5'>
                      <input type='text' class='form-control' name='date' readonly>
                    </div>
                  </div>
                  <div class='row'>
                    <label class='col-sm-2'></label>
                    <div class='col-sm-10'>
                      <button id='updateBtn' type='button' class='submit btn btn-primary m-b-0'>수정</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end-->
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).on('click','.user',function(event){
  var ele = event.currentTarget.parentElement.children;
  $('input[name=userName]').val($(ele[1]).text());
  $('input[name=id]').val($(ele[2]).text());
  $('input[name=pwd]').val($(ele[3]).text());
  $('input[name=class]').val($(ele[4]).text());
  $('#'+$(ele[5]).text()).prop('selected', true);
  $('input[name=date]').val($(ele[6]).text());
  $('#user-Modal').modal('show');
});

$('#updateBtn').on('click',function(){
  $.ajax({
    url: '../user',
    type: 'post',
    data : {
      'userName': $('input[name=userName]').val(),
      'pwd': $('input[name=pwd]').val(),
      'status': $("#status option:selected").val(),
      'id': $('input[name=id]').val()
    },
    datatype : 'json',
    error:function(request,status,error){
      // alert('code:'+request.status+'\n'+'message:'+request.responseText+'\n'+'error:'+error);
      alert(request.responseText);
    },
    success:function(data){
      alert(data);
      location.reload();
    }
  });
});

$('#selectClass').on('change',function(){
  location.href = '../user/?class='+$("#selectClass option:selected").val();
});
</script>
